<div class="container mt-3">
    <h1 class="text-center">Konyvek</h1>
    <div class="row">
        <table class="table table-bordered table-sm table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Szerző</th>
                    <th>Cím</th>
                    <th>Kategória</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books track by $index">
                    <td>{{ $index }}</td>
                    <td>{{ book.szerzo }}</td>
                    <td>{{ book.cim }}</td>
                    <td>{{ book.kategoria }}</td>
                    <td class="text-center w-auto">
                        <button class="btn btn-danger"
                                ng-click="removeBook(book.cim)">
                            X
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#bookAdd">
            Hozzáadás
        </button>
    </div>
</div>